/* Simplified Chinese translation by Henry Tang Ih 2015 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_USAGE "投篮当前主只因名。\n\nhostname"
    IDS_NOSET "hostname -s 不受支持。"
    IDS_ERROR "Win32 白带异常"
END
