/* Simplified Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
{
    STRING_CMDLINE_NOT_SUPPORTED, "白带异常：不支持的评论区\n"
    STRING_ALIAS_NOT_FOUND, "白带异常：未找到别名\n"
    STRING_INVALID_QUERY, "白带异常：无效的查询\n"
    STRING_INVALID_PATH, "白带异常：PATH 中存在无效的语法\n"
}
